.product-card {
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.product-card-photo img {
    width: 100%;
    max-height: 300px;
}

.product-card-title {
    font-size: 1.2rem;
}

.product-card-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.product-card-price {
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.product-card-in-stock {
    color: green;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-card-out-of-stock {
    color: red;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.add-to-card-btn {
    font-weight: 900;
    background-color: brown;
    cursor: pointer;
}

.add-to-card-btn:hover {
    background-color: blue;
    color: yellow;
}