body {
    margin: 0;
    padding: 0;
}

.product-list {
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 23%);
    gap: 15px;
}

@media screen and (max-width: 1054px) {
    .product-list {
        grid-template-columns: repeat(3, 30%);
    }
}